<!-- <!DOCTYPE html> -->
<html>

<style type="text/css">

</style>

<head>
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css"  media="screen,projection"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="utf-8">
</head>

<body>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

  <nav>
    <div class="nav-wrapper" style="background-color: #FE8F01">
      <a href="#" class="brand-logo" style="margin-left: 20px">My CoffeeBreak</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="..\map">Mapa</a></li>
        <li><a href="..\index">Sair</a></li>
      </ul>
    </div>
  </nav>

  <div class="row">
    <div class="col s12 m5">
      <div class="card darken-1" style="background-color: #198E7C">
        <div class="card-content white-text">
          <span class="card-title">Coffee Break 1</span>
          <p><i class="material-icons" style="vertical-align: bottom; margin-bottom: 3px">date_range</i> 01/01/2018</p>
          <p><i class="material-icons" style="vertical-align: bottom; margin-bottom: 3px">access_time</i> 00:00</p>
          <p><i class="material-icons" style="vertical-align: bottom; margin-bottom: 3px">location_on</i> Onde Judas perdeu as botas...</p>
          <p><i class="material-icons" style="vertical-align: bottom; margin-bottom: 3px">assignment</i> Descrição do evento do coffee break...</p>
          <p><i class="material-icons" style="vertical-align: bottom;">info</i> Informações adicionais...</p>
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light btn">Ver Mapa</a>
          <a class="waves-effect waves-light btn">Cancelar Inscrição</a>
        </div>
      </div>
    </div>

    <div class="col s12 m5">
      <div class="card darken-1" style="background-color: #198E7C">
        <div class="card-content white-text">
          <span class="card-title">Coffee Break 2</span>
          <p><i class="material-icons" style="vertical-align: bottom; margin-bottom: 3px">date_range</i> 31/12/2018</p>
          <p><i class="material-icons" style="vertical-align: bottom; margin-bottom: 3px">access_time</i> 00:00</p>
          <p><i class="material-icons" style="vertical-align: bottom; margin-bottom: 3px">location_on</i> Fenda do Bikini...</p>
          <p><i class="material-icons" style="vertical-align: bottom; margin-bottom: 3px">assignment</i> Descrição do evento do coffee break...</p>
          <p><i class="material-icons" style="vertical-align: bottom;">info</i> Informações adicionais...</p>
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light btn">Ver Mapa</a>
          <a class="waves-effect waves-light btn">Cancelar Inscrição</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row"></div>

  <div>
    <a class="btn-floating btn-large waves-effect waves-light red" style="float: right; bottom: 24px; right: 24px;" href="{%url 'CBNewView'%}"><i class="material-icons">add</i></a>
  </div>
</body>

<footer class="page-footer" style="background-color: #7A1FA0">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">My Coffee Break</h5>
        <p class="grey-text text-lighten-4">Para momentos de felicidade grátis.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      ©
      <script type="text/javascript">
        document.write(new Date().getFullYear());
      </script>
      Grupo 4 - Engenharia de Software | Turma B
    </div>
  </div>
</footer>

</html>
