{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <input type='hidden'  id='id_longitude' >
    <input type='hidden'  id='id_latitude' >
    <div id="map"></div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6WfnQ2JrM5BXuTlv7x7k6fFIDPSFumXU&callback=initMap"
    async defer></script>
    <script src="{% static 'js/modernizr-custom.js' %}"> </script>

    <script>

      var map;
      var lg = 0;
      var lt = 0;
      function initMap() {
        if (Modernizr.geolocation) {
          navigator.geolocation.getCurrentPosition(function(posicao){
            lg = posicao.coords.longitude;
            lt = posicao.coords.latitude;

            map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: lt, lng: lg},
              zoom: 18
            });
          });
        }
      }
    </script>

  </body>
</html>
